.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.App-header {
  background-color: green;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col {
  float: left;
  width: 25%;
}

.camperName {
  text-align: left;
}

.row{
  padding-top: 0.5%;
}

.headerRow {
  background-color: #e3eae4;
  color: green;
}
